<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Where's my f***ing link???'</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpAction</display-name>
    <servlet-name>SignUpAction</servlet-name>
    <servlet-class>SignUpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpAction</servlet-name>
    <url-pattern>/SignUpAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserStatServlet</display-name>
    <servlet-name>UserStatServlet</servlet-name>
    <servlet-class>UserStatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStatServlet</servlet-name>
    <url-pattern>/UserStatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchHistoryServlet</display-name>
    <servlet-name>FetchHistoryServlet</servlet-name>
    <servlet-class>FetchHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchHistoryServlet</servlet-name>
    <url-pattern>/FetchHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHistoryServlet</display-name>
    <servlet-name>DeleteHistoryServlet</servlet-name>
    <servlet-class>DeleteHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHistoryServlet</servlet-name>
    <url-pattern>/DeleteHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoSuggestion</display-name>
    <servlet-name>AutoSuggestion</servlet-name>
    <servlet-class>AutoSuggestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoSuggestion</servlet-name>
    <url-pattern>/AutoSuggestion</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>InitDB</listener-class>
  </listener>
  <listener>
    <listener-class>SessionListener</listener-class>
  </listener>
</web-app>